
{% block content %}

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<form method="post" action="" accept-charset="UTF-8" >
    {{ getCsrfInput() }}
    <div class="small-up-one-half small-down-one-whole">
      <input type="hidden" name="action" value="contactForm/sendMessage">

      <input class="contact-input proxima-bold" id="fromName" type="text" name="fromName" placeholder="NAME" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
      {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

      <input class="contact-input proxima-bold" id="fromEmail" type="email" name="fromEmail" placeholder="Email Address" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
      {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

      <input class="contact-input proxima-bold" id="subject" type="text" name="subject" placeholder="Subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
      {{ message is defined and message ? errorList(message.getErrors('subject')) }}

      <input class="contact-input proxima-bold contact-submit" type="submit" value="SUBMIT">
    </div>

    <div class="small-up-one-half small-down-one-whole">
      <textarea class="contact-textarea proxima-bold"  rows="10" cols="40" id="message" placeholder="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
      {{ message is defined and message ? errorList(message.getErrors('message')) }}
    </div>

</form>

{% endblock %}
