
{% block content %}

<div class="event-gallery-image-section-container">
  <h1 class="room-title">Main Room</h1>


  <div class="room-toggles">
    <a id="main" class="room-toggle active" href="#">Main Room</a>
    <a id="karaoke" class="room-toggle" href="#">Karaoke Room</a>
    <a id="club" class="room-toggle" href="#">The Club</a>

  </div>

  <div class="desktop-gallery-container">

    <div class="grid main-room-grid js-room-gallery js-main">
      {% for image in entry.mainRoomImages %}
        {% if loop.index < 4 %}
          <img class="event-image col small-up-one-third"  data-aos="fade-right" data-room="main" src="{{ image.url }}" alt="">
        {% else %}
          <img class="event-image col small-up-one-third"  data-aos="fade-left" data-room="main" src="{{ image.url }}" alt="">
        {% endif %}
      {% endfor %}
    </div>

    <div class="grid karaoke-room-grid js-room-gallery display-none js-karaoke">
      {% for image in entry.karaokeImages %}
              {% if loop.index < 4 %}
                <img class="event-image col small-up-one-third"  data-aos="fade-right" data-room="karaoke" src="{{ image.url }}" alt="">
              {% else %}
                <img class="event-image col small-up-one-third"  data-aos="fade-left" data-room="karaoke" src="{{ image.url }}" alt="">
              {% endif %}
      {% endfor %}
    </div>

    <div class="grid club-room-grid js-room-gallery display-none js-club">
      {% for image in entry.clubRoomImages %}
      {% if loop.index < 4 %}
        <img class="event-image col small-up-one-third"  data-aos="fade-right" data-room="club" src="{{ image.url }}" alt="">
      {% else %}
        <img class="event-image col small-up-one-third"  data-aos="fade-left" data-room="club" src="{{ image.url }}" alt="">
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="mobile-gallery-container js-rs-hide">

    <p class="room-title title-mobile">Main Room</p>

    <div class="mobile-room-toggles">
      <a id="main-mobile" class="room-toggle active" href="#">Main Room</a>
      <a id="karaoke-mobile" class="room-toggle" href="#">Karaoke Room</a>
      <a id="club-mobile" class="room-toggle" href="#">The Club</a>
    </div>


    <div class="js-room-gallery royalSlider  mobile-event-gallery-slider js-main ">
      {% for image in entry.mainRoomImages %}
        <img class="mobile-event-slide-image" data-room="main" src="{{ image.url }}" alt="">
      {% endfor %}
    </div>

    <div class="js-room-gallery display-none js-karaoke">
      {% for image in entry.karaokeImages %}
        <img class="event-image col small-up-one-third" data-room="karaoke"  src="{{ image.url }}" alt="">
      {% endfor %}
    </div>

    <div class="js-room-gallery display-none js-club">
      {% for image in entry.clubRoomImages %}
      <img class="event-image col small-up-one-third" data-room="club" src="{{ image.url }}" alt="">
      {% endfor %}
    </div>

  </div>

</div>


{% endblock %}
