
{% set footerIcon = icons.footerIcon.first() %}

{% block content %}


<div class="icon-container">
  <img src="{{ footerIcon.url }}" alt="">
</div>



<div class="footer-content">


  <p> {{ footer.hours }} </p>
  <p> {{ footer.address }} </p>
  <p> {{ footer.phoneNumber }} </p>




  <div class="footer-socials">
    <a href="{{ footer.facebook }}" > <span  class="fab fa-facebook-f"></span> </a>
    <a href="{{ footer.instagram }}" > <span  class="fab fa-instagram"></span> </a>
  </div>

</div>


{% endblock %}
