

{% extends "_layout" %}
{% block content %}

{% set totalLength = craft.entries.section('art') | length %}
{% set halfLength = totalLength // 2 %}
{% set remainder = totalLength - halfLength%}


<div class="art-collection-container">
  <div class="grid art-collection-grid">


    <div class="section-container">
      <div class="row">
        {% for entry in craft.entries.section('art') | slice(0, remainder) %}
          <div class="col artpage-grid-item will-fade-in" >
            {% set image = entry.workImage.first() %}
            <a class="artpage-image-container" href="{{ entry.url }}">
              <img class="art-collection-image" src="{{ image.url }}" alt="">
            </a>
            <a class='artimage-overlay-copy opacity-off' href="{{ entry.url }}">
              <p>Inquire</p>
            </a>
          </div>
        {% endfor %}
      </div>


      <div class="row bottom">
        {% for entry in craft.entries.section('art') | slice(remainder, halfLength) %}
          <div class="col artpage-grid-item  will-fade-in" >
            {% set image = entry.workImage.first() %}
            <a class="artpage-image-container" href="{{ entry.url }}">
              <img class="art-collection-image" src="{{ image.url }}" alt="">
            </a>
            <a class='artimage-overlay-copy opacity-off' href="{{ entry.url }}">
              <p>Inquire</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="art-collection-scroll-arrow">

  </div>

</div>




{% endblock %}
