{% extends "_layout" %}



{% block content %}

<div class="page-container">

  <div class="mobile-info-tabs proxima-bold">
    <div id="info" class="info-tab active"><span>Info<span></div>
    <div id="about" class="info-tab"><span>About<span></div>
    <div id="contact" class="info-tab"><span>Contact<span></div>
  </div>

  <div class="grid info-parent">
    <div class="info-left">
      <div class="contact-container">
        <div class="info-body-container">

          <div class="info-body js-info js-mobile-toggle">
            {{ entry.body }}
          </div>

          <div class="contact-form">
            <h3>Contact Us</h3>
            {% include '/general_section/_contact-form.html' %}
          </div>
        </div>

      </div>
    </div>



    <div class=" info-right">
      <div class="info-grid js-about js-mobile-toggle">

        {% for block in entry.infoPairs %}
          <div class="info-grid-item small-up-one-half small-down-one-whole">
            <p class="info-header">{{ block.infoHeader }}</p>
            <p class="info-detail">{{ block.infoDetail }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="mobile-contact-form small-down-one-whole display-none js-contact js-mobile-toggle">
      {% include '/general_section/_mobile-contact-form.html' %}
    </div>
  </div>

</div>


{% endblock %}
