

{% extends "_layout" %}



{% block content %}

<div class="page-container">
  <div class="grid">
    <div class="col small-up-one-third">
      <div class="info-body-container">
        <div class="info-body">
          {{ entry.body }}
        </div>

        <div class="contact-form">
          <h3>CONTACT US</h3>
          {% include '/general_section/_contact-form.html' %}
        </div>
      </div>
    </div>



    <div class="col small-up-two-thirds ">
      <div class="info-grid">

        {% for block in entry.infoPairs %}
          <div class="info-grid-item small-up-one-half">
            <p class="info-header">{{ block.infoHeader }}</p>
            <p class="info-detail">{{ block.infoDetail }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>


{% endblock %}
