{% extends "_layout" %}

{% block content %}


<div class="medium-down-display-none-imp">

  <div class="royalSlider rsDefault menu-slider display-none large-menu-container will-fade-in">

    {% for asset in entry.menu %}
      <img class="rsImg" src="{{ asset.url }}" data-index="{{ loop.index }}">
    {% endfor %}
  </div>

</div>

  <div class="menu-container medium-down-display-none-imp">

    <h1 class="menu-header">Menus</h1>

    <div class="place-holder-container">
      {% for block in entry.menuCover %}

      {% set imageUrl = block.holderImage.first().url %}


      <div class="menu-card"  data-id="{{ loop.index0 }}">
        <div class="menu-cover" style="background-image: url( {{ imageUrl }} )" >  </div>
        <!-- <img class="menu-cover"  src="{{ imageUrl }} " alt=""> -->

        <h1>{{ block.menuTitle }}</h1>
      </div>



      {% endfor %}
    </div>


</div>


<div class="mobile-menu-container medium-up-display-none-imp">
  <p class="menu-header">Our Menus</p>

  <div class="royalSlider mobile-homepage-slider">
    {% for block in entry.menuCover %}
    {% set imageUrl = block.holderImage.first().url %}

      <div class="mobile-menu-card"  data-id="{{ loop.index0 }}">
        <div class="mobile-menu-cover" style="background-image: url( '{{ imageUrl }}' )" >  </div>
        <p class="menu-title">{{ block.menuTitle }}</p>
      </div>
    {% endfor %}

  </div>


  <div class="royalSlider rsDefault menu-slider display-none ">

    {% for asset in entry.menu %}
      <img class="rsImg" src="{{ asset.url }}" data-index="{{ loop.index }}">
    {% endfor %}
  </div>


</div>

{% endblock %}
