{% extends "_layout" %}

{% block content %}


<div class="">

  <div class="royalSlider rsDefault menu-slider display-none large-menu-container">

    {% for asset in entry.menu %}
      <img class="rsImg" src="{{ asset.url }}" data-index="{{ loop.index }}">
    {% endfor %}
  </div>

</div>

  <div class="menu-container">

    <h1 class="menu-header">Menus</h1>

    <div class="place-holder-container">
      {% for block in entry.menuCover %}

      {% set imageUrl = block.holderImage.first().url %}


      <div class="menu-card"  data-id="{{ loop.index0 }}">
        <div class="menu-cover" style="background-image: url( {{ imageUrl }} )" >  </div>
        <!-- <img class="menu-cover"  src="{{ imageUrl }} " alt=""> -->

        <h1>{{ block.menuTitle }}</h1>
      </div>



      {% endfor %}
    </div>


</div>

{% endblock %}
