body {
  background-color: #fff;
  font-family: 'Basis Grotesque';
  min-height: 100vh;
  overflow-y: hidden;
  @include screen('medium-up'){
    display: flex;
    align-items: center;

  };

  @include screen('medium-down'){
    overflow-y: unset;
    margin: 0;
  }
}

#header{
  @include screen('medium-up'){
    position: fixed;
    top: 0;
    width: 100%;
  };
}

#container{
  width: 100%;
}

#content {
  min-height: Calc(100% - #{143px});
  @include screen('medium-down'){
    // padding-top:$navbar-nav-height-mobile
    padding-top:75px;
    // text-align: center;


  };
}


.page-container {
  width: 90%;
  margin: 0 auto;
  @include screen('small-down'){
    min-height: 100vh;
  };
}


.button-red {
  color: $color-red;
  border: 1px solid $color-red;
  background-color: $color-tan;
  width: 50%;
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.active {
  text-decoration: underline;
}

.mobile-page{
  max-height: Calc(100vh - #{75px});
  overflow-x: hidden;
}
