body {
  background-color: #fff;
  font-family: 'Basis Grotesque';
}


.page-container {
  width: 90%;
  margin: 0 auto;
}


.button-red {
  color: $color-red;
  border: 1px solid $color-red;
  background-color: $color-tan;
  width: 50%;
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.active {
  color: $color-red;
  text-decoration: underline;
}
