body {
  background-color: #f5e7d5;
  font-family: 'Voltaire'
  // font-family: 'Proxima Nova Cn Lt'
}

.proxima-font{
  font-family: 'Proxima Nova Cn Lt'
}

.page-container {
  width: 90%;
  margin: 0 auto;
}

.homepage-splash {
  width: 100%;
  position: absolute;
  left: 0;
}

.splash-container {
  width: 100%;
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}


// info
.info-body-container {
  border-right: 3px solid #CD5644;
  @include border-fix;

  .info-body {
    width: 80%;
  }

  .contact-form {
    width: 100%;
    border: 2px solid red;
  }
}


.info-grid {
  display: inline-table;
  padding-left: 5rem;

  .info-grid-item {
    display: inline-table;
    padding-left: 2rem;
    width: 45%;
  }

  .info-header {
    text-transform: uppercase;
  }
  .info-detail{
    position: relative;
    top: -14px;
  }
}
