.events-page-container{
  width: 100%;
}

.event-gallery-container {
}


.event-gallery-slider{
  z-index: 10;
  position: absolute;
  .rsOverflow,
  .rsDefault,
  .rsSlide {
    background-color: $color-white;
  }

  .rsArrow {
    width: 80px !important;
    .rsArrowIcn {
      width: 100%;
      &:hover {
        opacity: 0.6;
      }
    }
  }
    .rsArrowLeft{
      .rsArrowIcn {
        background-image: url(../section_assets/icons/leftArrow.png);
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.0);
        background-position: 0px 0px !important;
      }
    }
    .rsArrowRight{
      .rsArrowIcn {
        background: url(../section_assets/icons/rightArrow.png);
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.0);
        background-position: -24px 0px !important;

        padding-right: 21px;
        left: 0;
      }
    }

    .rsSlide {
      opacity: 0.2;
    }
    .rsActiveSlide {
      opacity: 1;

    }


}

.rsOverflow, .royalSlider.rsFullscreen {
  background-color: #fff;
}


.event-gallery-image-section-container{
  margin: 0 3rem;

  .event-image{
    display: flex;
    box-sizing: border-box;
    padding: 0.8125rem;
    cursor: pointer;
  }

  .floorplan-container{
    height: 16rem;
  }
  .floorplan{

  }

  .grid{
    & img:last-child{
      // border: 2px solid $color-grey;
    }
  }

}

.event-form-container{
  border-left: 2px solid $color-grey;
  box-sizing: border-box;
  height: 72vh;
  h1{
    // padding-left: 7rem;
  }
}

.event-form-subcontainer{
  display: flex;
  padding-left: 7rem;
  flex-direction: column;
}

.event-form{

  .event-fieldset{
    border: none !important;
    padding-left: 0;
  }

  // padding-left: 7rem;
  @extend .contact-form;
  border: none;
  input{
    @extend .contact-input;
    font-family: inherit;
  }
  label {
    display: none;
  }

  .event-input {
    width: 50%;
    &__1,
    &__3 {
      float: left;
    }
    &__2,
    &__4 {
      float: right;
    }
  }

  .event-submit{
    @extend .contact-input;
    @extend .contact-submit;
    background-color: transparent;
    margin-left: 1rem;
    width: 92%;
  }

  .success-message{
    color: $color-red !important;
    font-size: 2rem;
  }
}
