.events-page-container{
  width: 100%;
}

.event-gallery-container {
}

.event-gallery-image-section-container{
  margin: 0 3rem;

  .event-image{
    display: flex;
    box-sizing: border-box;
    padding: 0.8125rem;
  }

  .grid{
    & img:last-child{
      border: 2px solid red;
    }
  }

}

.event-form-container{
  border-left: 2px solid $color-red;
  box-sizing: border-box;

  h1{
    padding-left: 7rem;
  }
}



.event-form{

  .event-fieldset{
    border: none !important;
  }

  padding-left: 7rem;
  @extend .contact-form;
  border: none;
  input{
    @extend .contact-input;
    font-family: inherit;
  }
  label {
    display: none;
  }

  .event-input {
    width: 50%;
    &__1,
    &__3 {
      float: left;
    }
    &__2,
    &__4 {
      float: right;
    }
  }

  .event-submit{
    @extend .contact-input;
    @extend .contact-submit;
    background-color: transparent;
    margin-left: 1rem;
    width: 92%;
  }

  .success-message{
    color: $color-red !important;
    font-size: 2rem;
  }
}
