.events-page-container{
  width: 100%;
}

.event-gallery-container {


  .desktop-gallery-container {
    @include screen('small-down'){
      display: none;
    };
  }

  .mobile-gallery-container{
    // display: none;
    @include screen('small-up'){
      display: none;
    };
  }
  .js-rs-hide {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .js-rs-show{
    width: auto;
    height: auto;
  }
}

.room-title{
  padding: 0.8125rem;
  @include screen('small-down'){
    display: none;
  };
}

.title-mobile {
  display: block;
}

.room-toggles{
  padding: 0.8125rem;
  a{
    text-decoration: none;
    color: $color-grey;
    font-size: 1rem;
    padding: 0 2rem;
    padding-left: 0;
    cursor: pointer;
  }

  .active{
    text-decoration: underline;
  }
  @include screen('small-down'){
    display: none;
  };
}


.event-gallery-slider{
  z-index: 10;
  position: absolute;
  .rsOverflow,
  .rsDefault,
  .rsSlide {
    background-color: $color-white;
  }

  .rsArrow {
    width: 80px !important;
    .rsArrowIcn {
      width: 100%;
      &:hover {
        opacity: 0.6;
      }
    }
  }
    .rsArrowLeft{
      .rsArrowIcn {
        background-image: url(../section_assets/images/icons/leftArrow.png);
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.0);
        background-position: 0px 0px !important;
      }
    }
    .rsArrowRight{
      .rsArrowIcn {
        background: url(../section_assets/images/icons/rightArrow.png);
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.0);
        background-position: -24px 0px !important;

        padding-right: 21px;
        left: 0;
      }
    }

    .rsSlide {
      opacity: 0.2;
      @include transition(opacity 0.6s);
    }
    .rsActiveSlide {
      opacity: 1;
      @include transition(opacity 0.6s)

    }



    .rsFullscreenIcn{
      height: 32px;
      width: 32px;
      background-image: url(../section_assets/images/icons/grey_close.png);
      background-repeat: no-repeat;
      background-position: 0px 0px !important;
      background-color: transparent;
      background-size: contain;
    }


}

// .mobile-event-gallery-slider{
//   @include screen('small-up'){
//     display: none;
//   };
//   height: 80vh;
//   width: 100% !important;
//
//   .rsOverflow{
//     width: 100% !important;
//   }
//   .rsArrowLeft{
//     left: -20px;
//     .rsArrowIcn {
//       background: url(../section_assets/images/icons/leftArrow.png);
//       background-repeat: no-repeat;
//       background-position: center;
//       padding-left: 21px;
//     }
//   }
//   .rsArrowRight{
//     margin-right: 20px;
//     .rsArrowIcn {
//       background: url(../section_assets/images/icons/rightArrow.png);
//       background-repeat: no-repeat;
//       background-position: center;
//       padding-right: 21px;
//       left: 0;
//     }
//   }
//
// }

.rsOverflow, .royalSlider.rsFullscreen {
  background-color: #fff;
  opacity: 1;
}


.event-gallery-image-section-container{
  margin: 0 3rem;

  @include screen('small-down'){
    margin: 0;
    width: 100%;
  };

  .event-image{
    box-sizing: border-box;
    padding: 0.8125rem;
    cursor: pointer;
  }

  .floorplan-container{
    height: 16rem;
  }
  .floorplan{

  }

  .grid{
    & img:last-child{
      // border: 2px solid $color-grey;
    }
  }

}

.event-form-container{
  border-left: 2px solid $color-grey;
  box-sizing: border-box;
  // height: 72vh;
  @include screen('small-down'){
    border: none;
  };

}
.mobile-view-gallery-toggle {
  padding: 0 16px;
  @include screen('small-up'){
    display: none;
  }
}

.mobile-event-form-container{
  display: none;
  @include screen('small-down'){
    display: block !important;
    .event-form{
      display: block !important;
      width: 100%;
      padding: 0;
      .event-fieldset{
        width: 100%;
      }
      .event-input{
        width: 100%;
        input{
          font-size: 12px;
        }
      }
    }
  }
}

.event-form-subcontainer{
  display: flex;
  // padding-left: 7rem;
  padding-left: 10%;
  flex-direction: column;
  @include screen('small-down'){
    padding-left: 0;
  };

  .event-form-header{
    padding: 0.8125rem;
  }
}

.event-form{
  .event-fieldset{
    border: none !important;
    padding-left: 0;
  }
  // padding-left: 7rem;
  @extend .contact-form;
  border: none;
  padding-top: 3rem;
  input{
    @extend .contact-input;
    padding: 1rem 1rem;
    font-family: inherit;
    // font-size: calc(12px + 3 * ((100vw - 320px) / 720));
    font-size: 14px;
    margin: 5px 0px;
    height: 3rem;

  }
  label {
    display: none;
  }

  .event-input {
    width: 50%;
    &__1,
    &__3 {
      float: left;
    }
    &__2,
    &__4 {
      float: left;
    }
    &__5 {
      float: right;
      input {
        height: 6.7rem;
      }
    }
    &__7 {
      // float: right;
    }

  }

  .submit-parent{
    display: flex;
    margin-top: 8rem;
    margin-bottom: 13rem;
  }

  .event-submit{
    @extend .contact-input;
    @extend .contact-submit;
    display: inline-flex;
    background-color: transparent;
    width: 92%;
    text-align: left;
    margin-left: 0;

    &::after{
      content: "";
      background: url(../section_assets/images/icons/rightArrow_black.png);
      background-repeat: no-repeat;
      background-size: 4rem;
      height: 1rem;
      display: inline-block;
      width: 50%;
      background-position-y: 5px;
      background-position-x: 19px;
    }

  }

  .success-message{
    color: $color-red !important;
    font-size: 2rem;
  }
}
