@font-face {
    font-family: 'Basis Grotesque';
    src: url('fonts/BasisGrotesque-Regular.woff2') format('woff2'),
        url('fonts/BasisGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque';
    src: url('fonts/BasisGrotesque-Bold.woff2') format('woff2'),
        url('fonts/BasisGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
