.slider-container {
  width: 100vw;
}

.gallery {
  color: red;
  .royalSlider {
    width: 100% !important;
    height: 80vh;
    background: $color-tan;
    .rsOverflow {
      background: $color-tan;
    }
    .rsSlide{
      background: $color-tan;
    }
    .rsImg {
      position: absolute;
      width: auto !important;
    }

    .galleryImg{
      // height: 75%;
    }

    .rsArrow {
      width: 80px !important;
      .rsArrowIcn {
        width: 100%;
        &:hover {
          opacity: 0.6;
        }
      }
    }

      .rsArrowLeft{
        left: -20px;
        .rsArrowIcn {
          background: url(../section_assets/icons/leftArrow.png);
          background-repeat: no-repeat;
          background-position: center;
          padding-left: 21px;
        }
      }
      .rsArrowRight{
        margin-right: 20px;
        .rsArrowIcn {
          background: url(../section_assets/icons/rightArrow.png);
          background-repeat: no-repeat;
          background-position: center;
          padding-right: 21px;
          left: 0;
        }
      }


  }
}


.event-link {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
    a{
      color: $color-red;
      text-decoration: none;

    }

  .arrow-span{
    background: url(../section_assets/icons/rightArrow.png);
    background-repeat: no-repeat;
    // background-position: center;
    background-position: calc(50% + 9rem) 50%;
    line-height: 1rem;

  }
}
