.slider-container {
  width: 100vw;
}

.gallery {
  color: red;
  .royalSlider {
    width: 100% !important;
    height: 80vh;
    background: $color-white;
    .rsOverflow {
      background: $color-white;
    }
    .rsSlide{
      background: $color-white;
    }
    .rsImg {
      position: absolute;
      width: auto !important;
    }

    .galleryImg{
      // height: 75%;
    }

    .rsArrow {
      width: 80px !important;
      .rsArrowIcn {
        width: 100%;
        &:hover {
          opacity: 0.6;
        }
      }
    }

      .rsArrowLeft{
        left: -20px;
        .rsArrowIcn {
          background: url(../section_assets/images/icons/leftArrow.png);
          background-repeat: no-repeat;
          background-position: center;
          padding-left: 21px;
        }
      }
      .rsArrowRight{
        margin-right: 20px;
        .rsArrowIcn {
          background: url(../section_assets/images/icons/rightArrow.png);
          background-repeat: no-repeat;
          background-position: center;
          padding-right: 21px;
          left: 0;
        }
      }


  }
}


.event-link {
  text-align: center;
  margin-top: 3rem;
  font-size: 14px;
  width: 45%;

  @include screen('small-down'){
    width: 100%;
    margin-top: 2rem;
  };
    a{
      color: $color-grey;
      text-decoration: none;
    }

  .arrow-span{
    background: url(../section_assets/images/icons/rightArrow.png);
    background-repeat: no-repeat;
    // background-position: center;
    background-position: calc(50% + 6.7rem) 50%;
    line-height: 1rem;
    background-size: 4rem;
    margin-left: -5rem;

  }
}


.mobile-gallery-container{
  .royalSlider{
    width: 100%;
    left: -8px;
    .rsOverflow{
     width: 100% !important;
     height: 100% !important;
    }
  }
}
.mobile-event-gallery-slider {
  // width: 100% !important;
  // height: unset !important;
}

.mobile-event-slide-image{
  // width: auto !important;
  height: 100% !important;
  margin-left: 0px !important;
  // margin-left: unset !important;
}
