.navHeader {
  width: 100%;
  display: inline-flex;
  // text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;

  .navSection {
    // border: 1px solid blue;

  }
  .desktop-logo {
    width: 30%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  .res-button{
    @include screen('small-down') {
      width: 100%;
    };
  }

}
