.homepage-splash {
  width: 100%;
  position: absolute;
  left: 0;
}

.splash-container {
  width: 100%;
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.homepage-container {
  color: $color-black;
  .homepage-slider {
    width: 100% !important;
    height: 74vh;
    background: $color-white;
    .rsOverflow {
      background: $color-white;
    }
    .rsSlide{
      background: $color-white;
    }
    .rsImg {
      opacity: 0.1;
      // @include transition(all 200ms);
    }

    .galleryImg{
      // height: 75%;
    }

    .rsArrow {
      width: 80px !important;
      .rsArrowIcn {
        width: 100%;
        &:hover {
          opacity: 0.6;
        }
      }
    }

      .rsArrowLeft{
        left: -20px;
        .rsArrowIcn {
          background: url(../section_assets/images/icons/leftArrow.png);
          background-repeat: no-repeat;
          background-position: center;
          padding-left: 44px;
        }
      }
      .rsArrowRight{
        margin-right: 20px;
        .rsArrowIcn {
          background: url(../section_assets/images/icons/rightArrow.png);
          background-repeat: no-repeat;
          background-position: center;
          padding-right: 75px;
          left: -27px;
        }
      }

      .visibleNearby .rsSlide img {
         opacity: 0.6;
      }



  }
}

.mobile-homepage-slider{
  height: calc(100vh - #{161px};
  width: 100% !important;
}
