.homepage-splash {
  width: 100%;
  position: absolute;
  left: 0;
}

.splash-container {
  width: 100%;
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.homepage-container {
  color: $color-black;
  .homepage-slider {
    width: 100% !important;
    height: 80vh;
    background: $color-white;
    .rsOverflow {
      background: $color-white;
    }
    .rsSlide{
      background: $color-white;
    }
    .rsImg {
      position: absolute;
      // width: auto !important;
    }

    .galleryImg{
      // height: 75%;
    }

    .rsArrow {
      width: 80px !important;
      .rsArrowIcn {
        width: 100%;
        &:hover {
          opacity: 0.6;
        }
      }
    }

      .rsArrowLeft{
        left: -20px;
        .rsArrowIcn {
          background: url(../section_assets/icons/leftArrow.png);
          background-repeat: no-repeat;
          background-position: center;
          padding-left: 21px;
        }
      }
      .rsArrowRight{
        margin-right: 20px;
        .rsArrowIcn {
          background: url(../section_assets/icons/rightArrow.png);
          background-repeat: no-repeat;
          background-position: center;
          padding-right: 21px;
          left: 0;
        }
      }

      .visibleNearby .rsSlide img {
         opacity: 0.6;
      }



  }
}

.mobile-homepage-slider{
  height: 100vh;
  width: 100% !important;
}
