
// info
.mobile-info-tabs{
  display: none;
  color: $color-grey;
  @include screen('small-down'){
    display: inline-flex;
    width: 100%;
  }

  .info-tab {
    span {
      cursor: pointer;
    }
    font-size: 1.5rem;
    width: 50%;
  }
}

.info-parent{
  width: 80%;
  margin: 0 auto;
  // font-size: 12px;
  display: flex;
  @include screen('medium-down'){
    width: 96%;
  };
  .info-left{
    @include screen('small-up'){
      width: 45%
    };
  }
  .info-right{
    @include screen('small-up'){
      width: 45%
    };
  }

}

.info-body-container {
  @include border-fix;

  @include screen('small-down') {
    border-right: none;
  };

  .info-body {
    // padding: 4rem 0px;
    color: $color-grey;
    width: 80%;
    @include screen('small-down'){
      width: 100%;
    };
    p {
      padding: 1rem 0;
    }
  }
}

.contact-form {
  width: 80%;
  padding-top: 1rem;
  color: $color-grey;
  h3{
    color: $color-black;
    text-transform: capitalize ;
    font-weight: normal;
    font-size: 24px;
  }
  @include screen('small-down'){
    display: none;
  };

  input, textarea {
    border: none;
    background-color: $color-lt-grey;
    color: $color-grey;
    resize: none;
    text-transform: capitalize;
  }

  form {
    display: flex;
    padding: 2.5rem 0;
    padding-bottom: 0px;
  }
}

.mobile-contact-form{
  @extend .contact-form;
  width: 100% !important;

  .contact-input {
    width: 100%;
    color: $color-grey;
  }

  form {
    width: 100% !important;
    display: flow-root;
  }
  textarea {
    box-sizing: border-box;
    width: 100%;
  }
}


.info-grid {
  display:flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  border-left: 1px solid $color-grey;
  @include border-fix;


  @include screen('small-down'){
    padding-left: 0;
    border: none;
    display: none;
  };

  .info-grid-item {
    display: inline-table;
    padding-left: 2rem;
    box-sizing: border-box;
    color: $color-grey;
    @include screen('large-down'){
      width: 100%;
      padding-left: 0rem;
    };
  }

  .info-header {
    text-transform: capitalize;
    font-weight: bold;
  }
  .info-detail{
    position: relative;
    top: -5px;
    // line-height: 21px;
  }
}




.contact-input{
  text-transform: capitalize;
  margin: 5px 0px;
  padding: 0rem 1rem;
  width: 96%;
  // height: 25%;
  height: 3rem;
  box-sizing: border-box;
  text-align: left;
  &::-webkit-input-placeholder {
    color: $color-grey;
  }
}
.arrow-span{
  background: url(../section_assets/images/icons/rightArrow_black.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 9rem) 50%;
  line-height: 1rem;
  background-size: 4rem;
}
.contact-submit-container{
  padding-top: 1rem;
  min-height: 9rem;
  width: 83%;
  min-width: 11rem;
}

.contact-submit {
  position: relative;
  border: none !important;
  color: $color-black !important;
  margin: 0 auto;
  background-color: $color-white !important;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
  background: url(../section_assets/images/icons/rightArrow_black.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 2.7em) 50%;
  line-height: 1rem;
  background-size: 4rem;

}

.contact-submit-arrow{
  position: relative;
  background-color: #fff !important;
  width: 68px;
  top: 1px;
}

.contact-textarea {
  text-transform: uppercase;
  margin: 5px 0px;
  padding: 0rem 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 96%;
  max-height: 8.3rem;

  &::-webkit-input-placeholder {
    color: $color-grey;
  }
}

.mobile-contact-form{
  @include screen('small-up'){
    display: none;
  };
  input{
    padding: 1rem;
  }
  .contact-submit{
    width: 66%;
    @include screen('small-down'){
      width: 50%;

    };
  }
}

.mobile-contact-submit-arrow{
  background: #fff !important;
  width: 68px;
  margin: 0 auto;
  margin-left: -6rem;
}

.mobile-contact-submit-container{
  display: flex;
  margin-top: 3rem;
}

.no-display-mobile {
  @include screen('small-down'){
    display: none;
  };
}
