.ot-modal__homepage{
  // border: 2px solid $color-red;
  margin: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 100;
  width: 224px;
  margin-top: auto;
  top: 32%;
}

.ot-modal{
  @include transition();
  // border: 2px solid $color-red;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20,20,20, .8);
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal-newsletter-form{
    background: white;
    width: 46%;

    #mc_embed_signup_scroll{
      display: flex;
      flex-direction: column;
      padding-right: unset;
    }

    .mc-modal-form{
      border: 2px solid red;
      width: 90%;
      margin: 3rem auto;
    }
  }
}
