.header-nav {
  width: 100%;
  display: inline-flex;
  // text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 14px;

  .desktop-nav-link-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem
  }


  .desktop-nav-link{
    color: $color-grey;
    text-decoration: none;
    position: relative;
    @include transition(all 400ms);
    padding: 3px 0;
    &:hover{
      opacity: 0.7;
    }
    &.active{
      font-weight: bold;
    }

    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $color-grey;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      @include transition(all 400ms);

    }
    &:hover:before{
      visibility: visible;
     -webkit-transform: scaleX(1);
     transform: scaleX(1);
    }
  }

  .desktop-logo {
    width: 30%;
    min-width: 190px;
    margin: 0 auto;
    margin-top: 2rem;
    img {
      width: 100%;
    }
  }

  .header-newsletter-signup{
    margin-bottom: 1rem;
    input{
      @include input-placeholder{
        color: $color-grey;
        font-size: 14px;
      };

    }
  }

  .res-button{
    @include screen('small-down') {
      width: 100%;
    };
  }
}


#mc_embed_signup_scroll{
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}

.mce_inline_error{
  display: table-footer-group;
}

.nav-newsletter-input{
  padding: 3px 0;
  border: none;
  border-bottom: 1px solid $color-grey;
  width: 50%;
  color: $color-grey;
  font-size: 1rem;

  @include input-placeholder{
    padding: 3px 0;
  };

  @include screen('medium-down'){
    width: 86%;
    @include input-placeholder{
      color: $color-grey;
    };
  };
}

.nav-newsletter-input-2{
  padding: 3px 0;
  border: none;
  border-bottom: 1px solid $color-grey;
  width: 14rem;
  color: $color-grey;
  font-size: 1rem;

  @include input-placeholder{
    padding: 3px 0;
  };

}

.mobile-nav-newsletter-signup{
  position: relative;
  top: 2rem;
}


.arrow-container{
  border-bottom: 1px solid $color-grey;
  .nav-newsletter-submit{
    padding-top: 8px;
    padding-left: 1rem;
  }
}

// MOBILE STYLING

.mobile-nav{
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 1;
  background: $color-white;
  width: 100%;
  height: $navbar-nav-height-mobile;

  .burger{
    width: 32px;
    height: 32px;
    background-image: url('../section_assets/images/icons/burger.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 14px;
  }

  .mobile-logo{
    max-width: 100px;
    margin-right: 1rem;
    img {
      width: 100%;
    }
  }
}

.mobile-nav-link-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 10;
  padding-top: 3rem;
  background: $color-white;
  width: 100%;
  position: fixed;
  top: 4.8rem;
  @include transition(transform 400ms);
  transform: translateX(-103%);

  &.open{
    transform: translateX(0px);
  }


  .mobile-nav-link{
    width: 100%;
    font-size: 28px;
    color: $color-grey;
    text-decoration: none;
    text-align: center;
    height: 13%;

  }

  .mobile-socials{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    a{
      color: $color-grey;
    }
  }
}
